{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if site.Params.doks.backgroundDots -}}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
{{ end -}}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-md section-features">
  <div class="container">
    <div class="justify-content-center text-center">
      <h2 class="h1">Overview</h2>
      잡스케줄러와 자원최적화 기술로 GPU 서버 활용률 극대화<br>
      동종 솔루션 중 유일한 학습시간 예측 기능으로 편의성 향상<br>
      실시간 모니터링 및 리포트로 인프라 관리효율 향상
      <br><br>
      <img src="astrago-overview.png">
    </div>
    <br>
    <div class="justify-content-center text-center">
      <h2 class="h1">주요기능</h2>
      Astrago의 주요 기능은 ① ML엔지니어를 위한 머신러닝 지원 시스템과,<br>
      ② 관리자를 위한 인프라 관리 및 오케스트레이션 2가지로 구분됩니다.
      <br><br>
      <img src="astrago-feature.png">
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h2 class="h4">머신러닝 지원 시스템</h2>
        <p>사용자의 수준에 맞춰 Model Hub, Built-in Image, Custom 3가지 방식으로 학습을 지원합니다. 또한 업계 유일의 학습시간예측으로 연구자 및 프로젝트의 시간 운용에
          기여합니다.</p>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <h2 class="h4">인프라 오케스트레이션 및 관리</h2>
        <p>관리자는 잡스케쥴러와 리소스 최적화를 통해 인프라 전체의 효율성을 높이고, 모니터링과 리포트로 이를 점검해볼 수 있습니다.</p>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
          <div class="col-lg-8">
            <h4 class="h4">학습시간 예측</h4>
            <p>모델 업로드 시 예상 완료 시간을 제공하고,</p>
            <p>학습 중에는 Bar 형태 UI로 진행 경과 제공</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="justify-content-center text-center">
      <h2 class="h1">특장점</h2>
      Astrago의 주요 기능은 ① ML엔지니어를 위한 머신러닝 지원 시스템과,<br>
      ② 관리자를 위한 인프라 관리 및 오케스트레이션 2가지로 구분됩니다.
      <br><br>
      <img src="astrago-feature.png">
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2"
         href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/"
         role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
